// Place all the styles related to the npcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.asc{
    background-image: url(up-arrow.gif);
    background-size: 10px;
}
.desc { 
    background-image: url(down-arrow.gif);
    background-size: 10px;
}